<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Micoly' %></title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Micoly, ミコリー, ネイル, ファッション">
    <meta name="description" content='低価格でネイルを楽しむことが出来る新しいサービス'>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
